*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none !important;
}

/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/* variables*/
$fuente1: 'Anton', sans-serif;
$fuente2: 'Amatic SC', cursive;
$fuente3: 'Sigmar One', cursive;
$fuente4: 'Monoton', cursive;
$color1: rgba(0,0,0,.75);
$color2: #f2f2f2;
$color3: rgba(0,0,0,.55);
$sizeh1: 4rem;
$sizeh2: 3rem;
$sizeh3: 2rem;
$sizep: 1.5rem;
$weightp: 100;
$width1: 85vw;
$sombra: 6px 4px 5px 0px rgba(0, 0, 0, 0.29);
$colorFondo1: rgba(0, 0, 0, 0.03);
$bordeFinito: 1px solid rgba(0,0,0,.125);

BODY{
    background-image: url(imagenes/fondo4.jpg);
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	font-family: $fuente2;
}

/* navbar */
.navbar {
    border-bottom: 2px solid black;
}

.navbar-collapse{
    flex-grow: 0;
    margin-right: 50px;
}
.navbar-brand {
    background-image: url(imagenes/logo.png);
    background-size: cover;
    background-position: center;
    margin-left: 2%;
    height: 70px;
    width: 70px;
    transition: all 0.5s;
    &:hover{
    transform: scale(0.97);
	transition: all 0.5s;
    }
}
.nav-link {
    font-size: x-large;
    font-weight: 400;
	font-family: $fuente1;
    &:hover{
        color: rgba(0,0,0,.55);
    }
}
.bg-light {
    --bs-bg-opacity: 0
}
/* los @media intente anidarlos dentro del codigo de cada seccion pero no logre que me lo tome, tampoco estoy seguro de que sea la forma correcta */
@media only screen and (max-width: 426px){
	.navbar-brand{
		width: 50px;
		height: 50px;
	}
	.navbar-light{
		.navbar-nav{
			.nav-link{
				font-size: large;
			}
		}
	}
}
@media only screen and (max-width: 320px){
	.navbar-light{
		.navbar-nav{
			.nav-link{
				font-size: medium;
			}
		}
	}
}
/* index.html */
h1{
	font-size: $sizeh1;
	font-family: $fuente1;
	color: $color1;
	margin: 3% auto;
	text-align: center;
}
@media only screen and (max-width: 426px){
	h1{
		font-size: 3rem;
	}
}
@media only screen and (max-width: 426px){
	h1{
		font-size: 2.5rem;
	}
}

.contenedor-banner{
	display: flex;
	width: 70vw;
	height: 500px;
	margin: 3rem auto 3rem auto;
	background-image: url(imagenes/imagen4.jpg);
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	border-bottom: 2px $color1 solid;
	.contenedor-banner_descripcion{
		width: 70%;
		align-items: center;
			h2{
				font-family: $fuente1;
				font-size: $sizeh2;
				color: $color1;
				margin-top: 8%;
			}
			p{
				font-family: $fuente1;
				font-size: xx-large;
				font-weight: $weightp;
				color: $color1;
				width: 70%;
			}
			a{
				font-family: $fuente1;
				font-size: x-large;
				font-weight: $weightp;
				color: $color1;
				border: 2px $color1 solid;
				padding: 0 1%;
				transition: 0.7s;
				&:hover{
					background-color: $color1;
					color: $color2;
					transition: 0.7S;
			}
		}
	}
}

@media only screen and (max-width: 1024px){
	.contenedor-banner{
		height: 450px;
		.contenedor-banner_descripcion{
			width: 45%;
			h2{
				font-size: xx-large;
			}
			p{
				font-size: x-large;
			}
			a{
				font-size: medium;
			}
		}
	}
}
@media only screen and (max-width: 768px){
	.contenedor-banner{
		height: 350px;
		.contenedor-banner_descripcion{
			width: 50%;
			h2{
				font-size: x-large;
			}
			p{
				font-size: large;
			}
			a{
				font-size: small;
			}
		}
	}
}
@media only screen and (max-width: 426px){
	.contenedor-banner{
		background-size: 98%;
		background-position: center top;
		.contenedor-banner_descripcion{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: end;
			h2{
				display: none;
			}
			p{
				display: none;
			}
			a{
				font-size: large;
				margin: 3.5%;
			}
		}
	}
}
@media only screen and (max-width: 376px){
	.contenedor-banner{
		width: 300px;
		background-size: 98%;
		background-position: center top;
		.contenedor-banner_descripcion{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: end;
			h2{
				display: none;
			}
			p{
				display: none;
			}
			a{
				font-size: large;
				margin: 3.5%;
			}
		}
	}
}

/* proximos shows */
.proximosShows{
	width: $width1;
	margin: 3rem auto;
	.proximosShows__container{
		display: flex;
		align-items: center;
		width: 100%;
		margin: 2rem auto;
		.flyer{
			width: 100%;
			border-radius: 3%;
			transition: 0.7s;
			&:hover{
				transform: scale(0.98);
				transition: 0.7s;
			}
		}
		.shows{
			text-align: center;
			width: 50%;
			margin: 0 auto 3rem auto;
			h3{
				color: $color1;
				margin: 0 auto 4% auto;
				font-family: $fuente1;
				font-weight: 400;
				font-size: 3rem;
			}
			p{
				color: $color1;
				margin: auto;
				margin-bottom: 1rem;
				width: 50%;
				font-family: $fuente1;
				font-weight: $weightp;
				font-size: xx-large;
			}
		}
	}
}
@media only screen and (max-width: 1024px){
	.proximosShows{
		.proximosShows__container{
			.shows{
				h3{
					font-size: xx-large;
				}
				p{
					font-size: large;
				}
			}
		}
	}
}
@media only screen and (max-width: 768px){
	.proximosShows{
		.proximosShows__container{
			.shows{
				margin: auto;
				width: 80%;
				h3{
					font-size: x-large;
				}
				p{
					font-size: large;
					width: 90%;
				}
			}
		}
	}
}
@media only screen and (max-width: 426px){
	.proximosShows{
		.proximosShows__container{
			flex-wrap: wrap-reverse;
			.shows{
				width: 100%;
				h3{
					font-size: x-large;
				}
				p{
					font-size: medium;
					max-width: 70%;
				}
			}
		}
	}
}

/* agenda */
.contenedor-agenda{
	display: flex;
	width: $width1;
	margin: 9% auto;
	h2{
		writing-mode: vertical-lr;
		transform: rotate(-180deg);
		color: $color3;
		font-size: 100px;
		text-align: center;
		margin: 0;
	}
	.contenedor-agenda_fechas{
		width: 100%;
		margin: auto;
		ul{
			display: flex;
			justify-content: space-around;
			list-style: none;
			width: 100%;
			height: 8%;
			border-bottom: $color3 solid 1px;
			margin: 5% 0;
			padding: 0;
			li{
				font-family: $fuente1;
				color: $color1;
				font-size:	x-large;
				width: 20%;
				margin: auto;
				text-align: center;
				a{
					font-family: $fuente1;
					color: $color1;
					font-size: x-large;
					&:hover{
						color: $color3;
					}
				}
			}
		}	
	}
}
@media only screen and (max-width: 768px){
	.contenedor-agenda{
		h2{
			font-size: 80px;
		}
		.contenedor-agenda_fechas{
			ul{
				li{
					font-size: large;
					a{
						font-size: large;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 426px){
	.contenedor-agenda{
		h2{
			font-size: 50px;
		}
		.contenedor-agenda_fechas{
			ul{
				li{
					font-size: small;
					a{
						font-size: small;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 320px){
	.contenedor-agenda{
		h2{
			font-size: 40px;
		}
		.contenedor-agenda_fechas{
			ul{
				li{
					font-size: x-small;
					a{
						font-size: x-small;
					}
				}
			}
		}
	}
}

/* Galeria.html */
.triptico{
	width: $width1;
	height: 27vw;
	margin: 5% auto;
	.contenedor-img{
		display: flex;
		height: 100%;
		justify-content: space-between;
	div{
		width: 32%;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	/* por alguna razon no me permita anidar los class .img dentro del div q los contiene y al cual le aplique propiedades generales */
		.img1{
			background-image: url(imagenes/triptico1.jpeg);
		}
		.img2{
			background-image: url(imagenes/triptico2.jpeg);
		}
		.img3{
			background-image: url(imagenes/triptico3.jpeg);
		}
	}
	.contenedor-texto{
		position: relative;
		top: -30%;
		left: 4%;
		h3{
			font-family: $fuente1;
			font-size: $sizeh3;
			color: $color1;
			margin: 0;
		}
		p{
			font-family: $fuente1;
			font-size: x-large;
			font-weight: $weightp;
			color: $color1;
			margin: 0;
		}
	}
}
@media only screen and (max-width: 1024px){
	.triptico{
		.contenedor-texto{
			h3{
				font-size: xx-large;
			}
			p{
				font-size: x-large;
			}
		}
	}
}
@media only screen and (max-width: 768px){
	.triptico{
		.contenedor-texto{
			h3{
				font-size: x-large;
			}
			p{
				font-size: medium;
			}
		}
	}	
}
@media only screen and (max-width: 426px){
	.triptico{
		.contenedor-texto{
			top: -40%;
			h3{
				font-size: large;
			}
			p{
				font-size: medium;
			}
		}
	}	
}
@media only screen and (max-width: 376px){
	.triptico{
		.contenedor-texto{
xº			h3{
				font-size: medium;
			}
			p{
				font-size: x-small;
			}
		}
	}	
}
.galeria{
	width: $width1;
	height: 57vw;
	margin: 5% auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	div{
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		border: 10px solid #0000;
		opacity: 0.7;
	}
	.img1{
		background-image: url(imagenes/matanza1.jpg);
		grid-column: 1/2;
		grid-row: 1/2;
		transition: all 2s;
		&:hover{
			background-image: url(imagenes/maxi.jpg);
			transform: scale(1.05);
			transition: all 2s;
			opacity: 1;
		}
	}
	.img2{
		background-image: url(imagenes/matanza2.jpg);
		grid-column: 2/3;
		grid-row: 1/2;
		transition: all 2s;
		&:hover{
			background-image: url(imagenes/banda.jpg);
			transform: scale(1.05);
			transition: all 2s;
			opacity: 1;
		}
	}
	.img3{
		background-image: url(imagenes/matanza3.jpg);
		grid-column: 3/4;
		grid-row: 1/2;
		transition: all 2s;
		&:hover{
			background-image: url(imagenes/ivan.jpg);
			transform: scale(1.05);
			transition: all 2s;
			opacity: 1;
		}
	}
	.img4{
		background-image: url(imagenes/matanza4.jpg);
		grid-column: 1/2;
		grid-row: 2/3;
		transition: all 2s;
		&:hover{
			background-image: url(imagenes/maxi2.jpg);
			transform: scale(1.05);
			transition: all 2s;
			opacity: 1;
		}
	}
	.img5{
		background-image: url(imagenes/matanza5.jpg);
		grid-column: 2/3;
		grid-row: 2/3;
		transition: all 2s;
		&:hover{
			background-image: url(imagenes/banda2.JPG);
			transform: scale(1.05);
			transition: all 2s;
			opacity: 1;
		}
	}
	.img6{
		background-image: url(imagenes/matanza6.jpg);
		grid-column: 3/4;
		grid-row: 2/3;
		transition: all 2s;
		&:hover{
			background-image: url(imagenes/ivan2.jpg);
			transform: scale(1.05);
			transition: all 2s;
			opacity: 1;
		}
	}
}
@media only screen and (max-width: 426px){
	.galeria{
		div{
			border: 4px solid #0000;
		}
	}
}

/*musica.html*/
.contenedor{
	width: $width1;
	margin: 5% auto;
	.contenedor-musica{
		margin: 8% auto;
		.imagen-descripcion{
			display: flex;
			height: 40vw;
			margin: 1% auto;
			.deepConurba-imagen{
				width: 45%;
				background-image: url(imagenes/imagen4.jpg);
				background-size: contain;
				background-position: top left;
				background-repeat: no-repeat;
			}
			.deepConurba-texto{
				width: 57%;
				margin: auto;
				text-align: center;
				h2{
					font-family: $fuente1;
					font-size: $sizeh2;
					color: $color1;
					text-align: center;
					margin: auto 0 4% 0;
				}
				p{
					font-family: $fuente1;
					font-size: x-large;
					color: $color1;
					margin: 0 5% 5% 5%;
				}
				a{
					color: $color1;
					font-size: xx-large;
					margin: auto;
					padding: 2%;
				}
			}
			.contraTodoPronostico-imagen{
				width: 45%;
				background-image: url(imagenes/imagen1.jpg);
				background-size: contain;
				background-position: top right;
				background-repeat: no-repeat;
			}
			.contraTodoPronostico-texto{
				width: 57%;
				margin: auto;
				text-align: center;
				h2{
					font-family: $fuente1;
					font-size: $sizeh2;
					color: $color1;
					margin: auto 0 4% 0;
				}
				p{
					font-family: $fuente1;
					font-size: x-large;
					color: $color1;
					margin: 0 5% 5% 5%;
				}
				a{
					color: $color1;
					font-size: xx-large;
					margin: auto;
					padding: 2%;
				}
			}
		}
	}
}
@media only screen and (max-width: 1024px){
	.contenedor{
		.contenedor-musica{
			.imagen-descripcion{
				.deepConurba-texto{
					h2{
						font-size: 3rem;
					}
					p{
						font-size: x-large;
					}
					a{
						font-size: xx-large;
					}
				}
				.contraTodoPronostico-texto{
					h2{
						font-size: 3rem;
					}
					p{
						font-size: x-large;
					}
					a{
						font-size: xx-large;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 768px){
	.contenedor{
		.contenedor-musica{
			.imagen-descripcion{
				.deepConurba-texto{
					h2{
						font-size: xx-large;
					}
					p{
						font-size: large;
					}
					a{
						font-size: x-large;
					}
				}
				.contraTodoPronostico-texto{
					h2{
						font-size: xx-large;
					}
					p{
						font-size: large;
					}
					a{
						font-size: x-large;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 426px){
	.contenedor{
		.contenedor-musica{
			.imagen-descripcion{
				.deepConurba-texto{
					h2{
						font-size: medium;
					}
					p{
						font-size: x-small;
					}
					a{
						font-size: small;
					}
				}
				.contraTodoPronostico-texto{
					h2{
						font-size: medium;
					}
					p{
						font-size: x-small;
					}
					a{
						font-size: small;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 426px){
	.contenedor{
		.contenedor-musica{
			.imagen-descripcion{
				.deepConurba-texto{
					h2{
						font-size: small;
					}
					p{
						font-size: xx-small;
					}
					a{
						display: none;
					}
				}
				.contraTodoPronostico-texto{
					h2{
						font-size: small;
					}
					p{
						font-size: xx-small;
					}
					a{
						display: none;
					}
				}
			}
		}
	}
}

/* redes.html */
.ContenedorTarjetas{
	width: $width1;
	margin: 10% auto;
	display: flex;
	justify-content: space-around;
	.card{
		background-color: $colorFondo1;
		box-shadow: $sombra;
		.card-body{
			text-align: center;
			h4{
				font-family: $fuente1;
				font-size: x-large;
				color: $color1;
			}
			p{
				font-family: $fuente1;
				font-size: large;
				color: $color1;
			}
			.btn{
				font-family: $fuente1;
				font-size: x-large;
				font-weight: $weightp;
				color: $color1;
				background-color: #0000;
				border: solid $color1 2px;
				border-radius: 0%;
				padding: 0 1%;
				transition: 0.7s;
				&:hover{
					color: $color2;
					background-color: $color1;
					transition: 0.7s;
				}
			}
		}
	}
}
@media only screen and (max-width: 768px){
	.ContenedorTarjetas{
		justify-content: space-between;
		.card{
			.card-img-top{
				width: 85%;
				margin: auto;
			}
			.card-body{
				text-align: center;
				h4{
					font-size: large;
				}
				p{
					font-size: small;
				}
				.btn{
					font-size: large;
				}
			}
		}
	}
}
@media only screen and (max-width: 426px){
	.ContenedorTarjetas{
		.card{
			.card-img-top{
				width: 75%;
			}
			.card-body{
				text-align: center;
				h4{
					font-size: large;
				}
				p{
					font-size: small;
				}
				.btn{
					font-size: medium;
				}
			}
		}
	}
}
@media only screen and (max-width: 320px){
	.ContenedorTarjetas{
		.card{
			.card-img-top{
				width: 65%;
			}
			.card-body{
				text-align: center;
				h4{
					font-size: medium;
				}
				p{
					font-size: x-small;
				}
				.btn{
					font-size: small;
				}
			}
		}
	}
}

/*contacto*/
.formcontainer{
	width: $width1;
	height: 60vw;
	margin: 10% auto;
	background-color: $colorFondo1;
	border: $bordeFinito;
	box-shadow: $sombra;
	h2{
		font-family: $fuente1;
		font-size: $sizeh2;
		margin-top: 2%;
		text-align: center;
		color: $color1;
	}
	.formulario{
		text-align: center;
		.form__label{
			font-family: $fuente1;
			font-size: x-large;
			color: $color1;
			width: 70%;
			margin: 5% auto 0;
			text-align: left;
		}
		.form__input, .form__textArea{
			width: 70%;
			background-color: #0000;
			border: none;
			border-bottom: 1px solid $color1;
		}
		.form__enviar--submit{
			font-family: $fuente1;
			font-size: x-large;
			color: $color1;
			background-color: #0000;
			border: solid $color1 2px;
			padding: 0 1%;
			transform: all;
			transition: .7s;
			margin-top: 5%;
			&:hover{
				color: $color2;
				background-color: $color1;
				transition: 0.7s;
			}
		}
	}
}
@media only screen and (max-width: 1024px){
	.formcontainer{
		.formulario{
			.form__label{
				margin: 4% auto 0;
			}
		}
	}
}
@media only screen and (max-width: 768px){
	.formcontainer{
		h2{
			font-size: xx-large;
		}
		.formulario{
			.form__label{
				font-size: large;
				margin: 3% auto 0;
			}
			/* por alguna razon no me permite aplicar las propiedades al submit si lo anido dentro del label q lo contiene */
			.form__enviar--submit{
				font-size: large;
			}
		}
	}	
}
@media only screen and (max-width: 426px){
	.formcontainer{
		height: 85vw;
		h2{
			font-size: large;
		}
		.formulario{
			.form__label{
				font-size: x-small;
				margin: 3% auto 0;
			}
			.form__enviar--submit{
				font-size: medium;
				margin-top: 2%;
			}
		}
	}
}
@media only screen and (max-width: 376px){
	.formcontainer{
		.formulario{
			.form__textArea{
				height: 5px;
			}
			.form__enviar--submit{
				font-size: small;
				margin-top: 1%;
			}
		}
	}
}
/* footer */
footer{
	.seguinos{
		background-color: black;
		.menu_seguinos{
			display: flex;
			justify-content: space-around;
			text-align: center;
			width: 90%;
			margin: auto;
			a{
				display: inline-block;
				font-size: 6rem;
				color: white;
				width: 100%;
				transition: all 0.5s;
				&:hover{
					color: #f2f2f2;
					transform: scale(0.95);
					transition: all 0.5s;
				}
			}
		}
	}
}
@media only screen and (max-width: 426px){
	footer{
		.seguinos{
			.menu_seguinos{
				a{
					font-size: 4rem;
				}
			}
		}
	}
}